.post {
  display: flex;
  margin: 20px 0;
  padding: 15px;
  border: 2px solid #ef6b37;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.post_title {
  margin: 5px 0;
  text-align: initial;
}
.post_content {
  font-size: medium;
  text-align: initial;
}
.post_btn {
  font-size: medium;
}
